include ../layout/layout.jade
    
div.container
  div.image
    img(src="../../upload/#{post.cover}" width="200px" height="200px")
  div.content
    a.header= post.title
    div.description
      a.release-author(href='/user/profile/#{post.authorname}')= post.authorname
      each contributor in post.contributors 
        div.tracks-contributors
          a(href='/user/profile/#{contributor.id}')= contributor.id
          p= contributor.role
    div.extra
      each tag in post.tags
        div.ui.label= tag
    div.tracks 
      each track in post.tracks 
        div.tracks-item
          audio.float-right(controls)
            source(src='/track/#{track.audio}' type='audio/mpeg')
          div.tracks-item-description.float-left
            p= track.title
             each contributor in track.contributors
              div.tracks-contributors
                a(href='/user/profile/#{contributor.id}')= contributor.id
                p= contributor.role
        
    
    -if(username) {
    a(href='/delete/#{post._id}') Delete
    a(href='/addtracks/#{post._id}') Add Tracks
    -}
        
